<div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="article-body">
          <% if current_user %>
            <%= render 'form' %>
          <% else %>
            <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
          <% end %>
        </div>
      </div>
    </div>
</div>
